<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="MLBaseUrl" value="https://ussouthcentral.services.azureml.net/workspaces/2f84183108d54567b1031fc11fa3fbd0/services/899f50026777450aa134f3c478cb2781/jobs" />
    <add key="StorageContainerName" value="myshuttledata/aggregated" />
    <add key="InputBlobName" value="20150202 aggregate fake.csv" />
    <add key="MLApiKey" value="NajSWBuAAJnW0sOPjuuCHMIeNScuGzt1EkraXWXthVKTwufAATlARAdWoTh1W5MUG2EzcZI5awbQADM6gFNPTQ==" />
  </appSettings>
  <connectionStrings>
    <add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=myshuttlestorage2;AccountKey=QjNuIECztgxmTEkT5pNOSHCNoVedwM5EZao/uKCPXBg11tU6teH8M/7DP7yJMWKCa4WwDYif8yHjPFH8/D9VFQ==" />
    <add name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=myshuttlestorage2;AccountKey=QjNuIECztgxmTEkT5pNOSHCNoVedwM5EZao/uKCPXBg11tU6teH8M/7DP7yJMWKCa4WwDYif8yHjPFH8/D9VFQ==" />
  </connectionStrings>
    <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>